#content{
    width: 100%;
    padding: 0;

    @media screen and ( min-width: 900px ) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

body{
    margin: 0;
    padding: 0;

    background-color: #000000;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
}

p {
    font-family: "Open Sans", sans-serif;
}
