.header{
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 20px 0;

    max-width: 1200px;
    margin: 0 auto;

    img{
        position: absolute;
        left: 0;
        top: 0;

        max-width: 100px;
    }

    h1{
        font-family: "Dosis", sans-serif;
        font-weight: 600;
        font-size: 3em;

        @media screen and ( min-width: 900px ) {
            font-size: 5em;
        }
    }

    p{
        margin: 0 auto;
        max-width: 500px;
        padding: 0 20px;
        font-size: 0.7em;

        @media screen and ( min-width: 900px ) {
            font-size: 1em;
        }
    }
}
