.splashImage{
    img{
        width: 100%;
    }
}

.centeredImage{
    img{
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        padding: 20px 0;
    }
}
