.member{
    display: flex;
    background-color: #FFFFFF;

    &:not(:last-child){
        margin-bottom: 10px;
    }

    @media screen and ( max-width: 900px ) {
        flex-direction: column;
    }

    img{
        margin: 0 auto;
    }

    p{
        padding: 20px;
    }
}
